@model Vol

@{
    var vol = (Vol)ViewData["vol"];
}

<div>
    <form asp-action="Create">
        <div class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="dateDepart" class="control-label"></label>
                    <input asp-for="dateDepart" class="form-control" />
                    <span asp-validation-for="dateDepart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="dateDepart" class="control-label"></label>
                    <input asp-for="dateDepart" class="form-control" />
                    <span asp-validation-for="dateDepart" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="AvionId" class="control-label"></label>
                    <select asp-for="AvionId" class="form-control" asp-items="ViewBag.Avions"></select>
                    <span asp-validation-for="AvionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AeroportId" class="control-label"></label>
                    <select asp-for="AeroportId" class="form-control" asp-items="ViewBag.Aeroports"></select>
                    <span asp-validation-for="AeroportId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AeroportArriveeId" class="control-label"></label>
                    <select asp-for="AeroportArriveeId" class="form-control" asp-items="ViewBag.Aeroports"></select>
                    <span asp-validation-for="AeroportArriveeId" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-success float-right" />
            <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
        </div>

    </form>
</div>
